# -------------------
# Maven
# -------------------
/target/*
!/target/*.war
.mvn/wrapper/maven-wrapper.jar

# Excluir targets de módulos pero no el contenido de src
!**/src/main/**/target/
!**/src/test/**/target/

# -------------------
# Eclipse / STS
# -------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# -------------------
# IntelliJ IDEA
# -------------------
.idea
*.iws
*.iml
*.ipr

# -------------------
# NetBeans
# -------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Excluir build pero no src
build/
!**/src/main/**/build/
!**/src/test/**/build/

# -------------------
# VS Code
# -------------------
.vscode/

# -------------------
# OS / Sistema
# -------------------
.DS_Store
Thumbs.db
